/* GLOBAL PAGE FIX */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #d8f3dc, #cfead6);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MAIN CONTAINER CENTERING */
.app {
  width: 100%;
  max-width: 900px;
  margin-top: 150px;
}

/* ---------------- NAVBAR ---------------- */
.eco-bar {
  width: 99%;
  height: 80px;
  background: #3f6e4c;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding:10px;
  z-index: 999;
}

.eco-left h2 {
  color: white;
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

/* CENTERED LOGO */
.eco-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.eco-logo {
  height: 55px;
}

/* RIGHT MENU */
.eco-right {
  display: flex;
  gap: 30px;
}

.eco-right a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

/* ---------------- HERO ---------------- */
.hero {
  text-align: center;
  margin-top: 20px;
}

.hero-card {
  background: #2d6a4f;
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.hero-card button {
  margin-top: 20px;
  background: #ffdd66;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

/* ---------------- EVENTS ---------------- */
.section-title {
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
}

.event-card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.event-card button {
  background: #52b788;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
}

/* ---------------- FOOTER ---------------- */
.eco-footer {
  text-align: center;
  padding: 20px 0;
  color: #3f6e4c;
  font-size: 15px;
  margin-top: 50px;
}
